MINDCLASSIFY_DATA=
MINDCLASSIFY_OUT_DIR=
MINDCLASSIFY_SEED=
MINDCLASSIFY_TEST_SIZE=
MINDCLASSIFY_VAL_SIZE=
MINDCLASSIFY_NEAR_DUP_THRESHOLD=
MINDCLASSIFY_SAFETY_RECALL=
MINDCLASSIFY_BASE_MODEL=
MINDCLASSIFY_LORA_R=
MINDCLASSIFY_LORA_ALPHA=
MINDCLASSIFY_EPOCHS=
MINDCLASSIFY_LEARNING_RATE=
MINDCLASSIFY_MAX_LENGTH=
HF_TOKEN=
